.vscode
*.ipynb
*.pyc
_pycache__/*
testoutput/*.csv
testoutput/*.xlsx
data/GNAF_CORE.psv
data/NSW_GNAF_CORE.psv
data/VIC_GNAF_CORE.psv
data/QLD_GNAF_CORE.psv
data/WA_GNAF_CORE.psv
data/SA_GNAF_CORE.psv
data/MB_2021_AUST.csv
data/1000000_GNAF_CORE.psv
